# Python
.venv/
venv/
__pycache__/
*.py[cod]
*.egg-info/

# IDE
.idea/
.vscode/

# Datasets
datasets/woodscape_raw/
datasets/woodscape/

# Treinamentos / resultados
runs/
weights/

# Pesos e modelos exportados
*.pt
*.pth
*.onnx
*.engine
*.torchscript

# Cache Ultralytics
*.cache

# Sistema
.DS_Store
Thumbs.db